.scaleHolder {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scaleTitle {
    /* flex: 0 0 36px; */
}

.churchScales {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex:  1 0 250px;
}