* {
    box-sizing: border-box;
}

:root {
    --colOne: #ff5c5c;
    --colTwo: #ffb361;
    --colThree: #fff271;
    --colFour: #9aff6c;
    --colFive: #7ed6ff;
    --colSix: #4864fd;
    --colSeven: #a45eff;
    --colTen: silver;
    --colEleven: goldenrod;
    --colTwelve: rgb(126, 54, 13);
    --colBlack: rgb(58, 58, 58);
}

h1, h2, h3, h4, h5 {
    font-size: unset;
    margin: 0;
    padding: 0;
}

.h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 5px;
}



.superGrid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 150px 2fr 2fr 1fr 1fr;
    grid-template-rows: 50px 2fr 2fr;
    grid-template-areas:
    "header header header header header"
    /* ". roman roman . ." */
    "scale chords chords altChords altChords"
    "controls sequencer sequencer player player";
    margin: 0;
    padding: 0;

}

.section {
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0;
    padding: 0;

}

/* .headerSection {background-color: lightblue; }
.romanSection {background-color: lightcoral; }
.scaleSection {background-color: lightcoral; }
.chordSection {background-color: lightyellow; }
.altChordSection {background-color: lightpink; }
.controlsSection {background-color: lightgoldenrodyellow; }
.sequencerSection {background-color:lightsalmon ; }
.playerSection {background-color: lightseagreen; } */

.headerSection { grid-area: header;  }
.romanSection { grid-area: roman;  }
.scaleSection { grid-area: scale;  }
.chordSection { grid-area: chords;  }
.altChordSection { grid-area: altChords;  }
.controlsSection { grid-area: controls;  }
.sequencerSection { grid-area: sequencer; }
.playerSection { grid-area: player;  }




.df {
    display: flex;
}



.chordButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5px;
    background-color: var(--colBlack);
    border-radius: 5px;
    cursor: pointer;
}

.chordButton:hover {
    transform: scale(1.05);
    transition-duration: 100ms;
    color: black;
}



button {
    width: -webkit-fill-available;
    /* height: 30px; */
    padding: 8px 20px;
    margin: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    box-sizing: border-box;

    cursor: pointer;
}

select {
    width: -webkit-fill-available;
    height: 30px;
    padding: 5px 20px;
    margin: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    box-sizing: border-box;

    cursor: pointer;
}
input {
    width: -webkit-fill-available;
    height: 30px;
    padding: 5px 20px;
    margin: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    box-sizing: border-box;

    cursor: pointer;
}

label {
    margin: 5px;
}


.info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 25px;
    height: 25px;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid black;
    font-family: monospace;
    font-size: 20px;
    font-weight: semi-bold;

    cursor: pointer;
}

.info:hover {
    background-color: var(--colBlack);
    color: white;
}



/* @media screen and (min-width: 1200px) {
    #root {
      max-height: 100vh;
    }

    .superGrid {
        height: 100vh;
    }
  } */